<!--LISTA DB-->


<div class="lista-container">
    <h2 *ngIf="loading">Loading...</h2>
    <mat-list class="lista">
        <mat-list-item *ngFor="let elemento of lista;let i = index"> 
            <div class="list-number">{{i+1}}:&nbsp;&nbsp;</div>{{elemento}}
            
            <button mat-fab color="primary" aria-label="Cancella" class="cancella-button" value="{{lista[0]}}" (click)="rimuovi(i)">
                <mat-icon>delete</mat-icon>
            </button>

        </mat-list-item>
    </mat-list>

    <mat-form-field appearance="fill">
        <mat-label>Aggiungi elemento</mat-label>
        <input matInput placeholder="elemento" value="" [(ngModel)]="inserimento" (keyup.enter)="aggiungi()">
    </mat-form-field>
    <br>

   
</div>